<!DOCTYPE html>
<html>
<head>

<title>Calculator</title>

<style>

body{
font-family:Arial;
background:#f2f2f2;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.box{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0px 0px 10px gray;
text-align:center;
width:320px;
}

input{
width:90%;
padding:10px;
margin:10px;
}

button{
padding:10px 20px;
margin:10px;
cursor:pointer;
}

.result{
font-size:22px;
color:green;
margin-top:15px;
}

</style>

</head>

<body>

<div class="box">

<h2>Simple Calculator</h2>

<form method="POST">

<input
type="number"
name="num1"
placeholder="First Number"
required>

<input
type="number"
name="num2"
placeholder="Second Number"
required>

<br>

<button
type="submit"
name="operation"
value="add">
Add
</button>

<button
type="submit"
name="operation"
value="subtract">
Subtract
</button>

</form>

{% if result is not none %}

<div class="result">
Result = {{ result }}
</div>

{% endif %}

</div>

</body>

</html>